@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}
<div class="col-md-12">
    <div class="chart-box">
        <p>Aşağıdaki formu düzenleyerek hizmeti güncelleyebilirsiniz.</p>
        <hr />
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="Title">Hizmet Başlığı</label>
                <input type="text" class="form-control" id="Title" asp-for="Title">
            </div>
            <div class="form-group">
                <label for="Icon">İkon</label>
                <input type="text" class="form-control" id="Icon" asp-for="Icon">
            </div>
            <button type="submit" class="btn btn-info">Kaydet</button>
        </form>
    </div>
</div>
