@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="chart-box">
        <p>Aşağıdaki formu doldurarak yeni kategori ekleyebilirsiniz.</p>
        <hr />
        <form method="post">
            <div class="form-group">
                <label for="Name">Kategori Adı</label>
                <input type="text" class="form-control" id="Name" asp-for="Name">
            </div>
            <button type="submit" class="btn btn-info">Kaydet</button>
        </form>
    </div>
</div>

