@model List<ResultOrderingDto>
@{
    ViewData["Title"] = "MyOrderList";
    Layout = "~/Areas/User/Views/UserLayout/_UserLayout.cshtml";
    int count = 0;
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Siparişleriniz ile ilgili işlemleri aşağıdaki tablodan yapabilirsiniz.</h4>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sipariş Tarihi</th>
                                    <th>Toplam Ücret</th>
                                    <th>Sipariş Detayı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@(((DateTime)item.OrderDate).ToString("dd-MMM-yyy"))))</td>
                                        <td>@item.TotalPrice</td>
                                        <td><a href="#" class="btn btn-info">Sipariş Detayını Gör</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>