<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Admin 01</span> </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <div class="pull-left user-img"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-responsive" alt="User"></div>
            <p class="text-left">Admin 01<small>admin01@gmail.com</small> </p>
            <div class="view-link text-left"><a href="#">Hesabım</a> </div>
        </li>
        <li><a href="#"><i class="icon-profile-male"></i> Profilim</a></li>
        <li><a href="#"><i class="icon-wallet"></i> My Balance</a></li>
        <li><a href="#"><i class="icon-envelope"></i> Gelen Kutusu</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="icon-gears"></i> Ayarlar</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
    </ul>
</li>