<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-envelope"></i>
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
    </a>
    <ul class="dropdown-menu">
        <li class="header">4 Yeni Mesajınız Var</li>
        <li>
            <ul class="menu">
                <li>
                    <a href="#">
                        <div class="pull-left"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                        <h4>Florence Douglas</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p><small><i class="fa fa-clock-o"></i> 2 Dakika Önce</small></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pull-left"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img2.jpg" class="img-circle" alt="User Image"></div>
                        <h4>Douglas Smith</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p><small><i class="fa fa-clock-o"></i> 15 Dakika Önce</small></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pull-left"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img3.jpg" class="img-circle" alt="User Image"></div>
                        <h4>Lorence Deo</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p><small><i class="fa fa-clock-o"></i> 35 Dakika Önce</small></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pull-left"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                        <h4>Florence Douglas</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p><small><i class="fa fa-clock-o"></i> 2 Saat Önce</small></p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="footer"><a href="#">Hepsini Gör</a></li>
    </ul>
</li>